body{
    background-color: white;
    font-family: Arial, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h3{
    margin-top: 1%;
    margin-bottom: 0%;
}
p{
    margin-top: 1%;
    margin-bottom: 2%;
}
button{
    font-family: Arial, serif;
    margin-top: 1%;
}